<%= form_for [post, comment] do |f| %>
  <p>
    <%= f.text_area :body, placeholder: 'enter comments' %>
    <% if comment.errors.messages[:body].any? %>
      <% comment.errors.messages.each do |message| %>
        <span class="error">
          <%= message %>
        </span>
      <% end %>
    <% end %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <p>
    <%= link_to '[Back]', post_path(post) %>
  </p>

<% end %>
